* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e8e8e8;
	font-family: 'GloberRegular';
	overflow-x: hidden;
}

a {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #333;
}

ul {
	margin: 0;
	list-style: none;
}

input {
	outline: 0;
}

.center {
	width: 1280px;
	margin: 0 auto;
}

.active-fade {
	opacity: 1 !important;
}

.home {
	height: 100vh;
	width: 100vw;
	position: relative;
	background-image: url(../img/home-bg2.jpg);
	background-size: cover;
	overflow: hidden;
}

.home-side {
	position: relative;
	float: left;
	height: 100vh;
	width: 40vw;
}

.home-side-bg {
	height: 40%;
	width: 100%;
	float: left;
	position: relative;
	background-color: rgba(58,123,59,.7);
}

.home-side-bg img {
	width: 350px;
	right: 50px;
	top: 50%;
	position: absolute;
    transform: translateY(-50%);
}

.home-side-text {
	height: 20%;
	width: 100%;
	float: left;
}

.home-side-text .text {
	height: 40%;
	padding-top: 2%;
	padding-right: 7%;
	color: #3a7b3b;
    font-size: 36px;
    text-align: right;
	background-color: white;
}

.home-side-text .text-1 {
	width: 100%;
	margin-top: 2%;
	margin-bottom: 1.5%;
}

.home-side-text .text-2 {
	width: calc(100% + 50px);
	font-family: 'GloberBold';
}

.home-link {
    position: absolute;
    right: 5vw;
	top: 5vh;
	z-index: 2;
}

.home-link ul li {
    display: inline;
}

.btn-site a {
	float: right;
	padding: 10px 30px 7px;
	color: #f0f0f0;
    font-size: 12px;
    background: #0a6c36;
    border-radius: 25px;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	transition: .2s ease-out;
}

.btn-site a:hover {
	background: #18342A;
	color: #A9CB35;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	transition: .2s ease-out;
}

.link-svg svg {
	width: 34px;
    height: 34px;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	transition: .3s ease-out;
}

.link-svg:hover svg path,
.link-svg:hover svg polygon {
	fill: #0a6c36;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	transition: .3s ease-out;
}

.link-svg:nth-of-type(2) {
	margin-left: 5px;
	margin-right: 12px;
}

.home-bottom {
	width: 100%;
	position: absolute;
    bottom: 5vh;
}

.home-whatsapp {
	float: right;
	margin-top: -70px;
	margin-right: 5vw;
	overflow: hidden;
	z-index: 2;
	position: relative;
}

.home-whatsapp img {
	width: 55px;
	float: right;	
	position: relative;
	z-index: 1;
}

.btn-whats {
	position: relative;
	z-index: 1;
}

.home-fale {
    color: white;
    font-size: 11px;
    padding: 14px 30px 10px 20px;
    background: rgba(0,0,0,.8);
    border-radius: 25px;
	letter-spacing: 2px;
	float: left;
    margin-top: 10px;
	margin-right: -200px;
	opacity: 0;
	z-index: 1;
	-webkit-transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	-moz-transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btn-whats:hover .home-fale {
	margin-right: -20px;
	opacity: 1;
	-webkit-transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	-moz-transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.home-more {
    margin: 0 auto;
    width: 133.23px;
	z-index: 2;
	position: relative;
}

.home-more-icon-inner  {
    width: 50px;
	height: 50px;
    margin: 0 auto 15px;
}

.home-more-icon-inner svg {
	width: 100%;
	height: 100%;
}

.home-more-icon-inner {
	-webkit-animation: move 1.5s ease-in-out infinite;
	-o-animation: move 1.5s ease-in-out infinite;
	-moz-animation: move 1.5s ease-in-out infinite;
	animation: move 1.5s ease-in-out infinite;
}

.home-saiba {
	color: white;
	font-size: 18px;
	letter-spacing: 3px;
	font-family: 'GloberSemiBold';
}

.home-men {
	width: 60vw;
	height: 100vw;
	float: right;
	right: 0;
	z-index: 1;
	position: absolute;
	background: url(../img/home-homem.png) no-repeat;
	background-size: 100%;
	background-position-y: 10px;
}

.premium {
	width: 100vw;
	float: left;
	padding: 100px 0;
	background-image: url(../img/premium.jpg);
	background-size: cover;
}

.premium-left {
	float: left;
	width: 480px;
	margin-right: 20px;
}

.h2-titlepremium {
	color: white;
	font-size: 48px;
	font-family: 'GloberRegular';
}

.h2-titlepremium span {
	color: #6bd62b;
}

.premium-content {
	margin-top: 60px;
	color: white;
	line-height: 25px;
	font-size: 18px;
	font-family: 'GloberRegular';
	position: relative;
    padding-left: 15px;
}

.premium-content ul {
	margin-top: 20px;
}

.li-check svg {
	width: 17px;
    height: 17px;
    vertical-align: baseline;
}

.premium-line {
	width: 2px;
	background-color: #64b054;
	float: left;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
}

.premium-content-footer {
	margin-top: 60px;
	float: left;
}

.premium-content-footer p {
	color: white;
	font-size: 24px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'GloberRegular';
}

.premium-content-footer p span {
	font-family: 'GloberBold';
}

.premium-icon img:nth-of-type(1) {
	margin-right: 10px;
}

.premium-right {
	float: left;
	width: 780px;
	height: 438.75px;
}

.premium-right iframe {
	width: 100%;
	height: 100%;
}

.premium-footer {
	float: left;
	width: 100%;
	text-align: center;
    margin-top: 70px;
    position: relative;
}

.btn-facaparte {
	color: white;
	font-size: 24px;
	padding: 17px 75px 13px;
	border-radius: 30px; 
	z-index: 2;
	position: relative;
	background-color: #6bd62b;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	transition: .2s ease-out;
}

.btn-facaparte:hover {
	background: #18342A;
	color: #A9CB35;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	transition: .2s ease-out;
}

.premium-line-footer {
	height: 2px;
	width: 50%;
	float: left;
	z-index: 1;
	top: 12px;
	position: absolute;
	background-color: white;
}
.premium-line-footer1 {
	left: 0;
}
.premium-line-footer2 {
	right: 0;
}

.form {
	width: 100vw;
	float: left;
	padding: 70px 0 30px;
}

.divform {
	float: left;
    width: 100%;
	margin-top: 40px;
}

.divform .trigger {
    float: left;
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

.h2-titleform {
	font-size: 36px;
	color: #0a6f37;
	text-align: center;
	font-family: 'GloberSemiBold';
}

.p-titleform {
	font-size: 22px;
	color: #6a6a6a;
	text-align: center;
	margin-top: 30px;
	line-height: 32px;
	font-family: 'GloberRegular';
}

.p-titleform span {
	color: #64b054;
	text-align: center;
	font-family: 'GloberSemiBold';
}

.landing-inputs {
	width: 650px;
	margin: 0 auto;
}

.item-input {
	width: 320px;
	float: left;
	height: 50px;
	margin-bottom: 10px;
}

.item-input input[type="text"],
.item-input input[type="tel"],
.item-input input[type="email"] {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	border: none;
	outline: solid transparent;
	font-size: 16px;
	color: #6a6a6a;
	padding-left: 25px;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.item-input select {
	width: 90%;
	height: 100%;
	border: none;
	outline: 0;
	font-size: 16px;
	color: #6a6a6a;
	padding-left: 25px;
	background-color: white;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.item-input-full {
	width: 100%;
}

.item-input-center input[type="text"] {
	text-align: center;
}

.item-input-right {
	margin-left: 10px;
}

.item-date {
	width: 100%;
    opacity: 0;
    z-index: -1;
    float: left;
    position: relative;
}

.item-btn {
	width: 100%;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 15px;
}

.item-btn .enviarButton {
	color: white;
	font-size: 16px;
	border-radius: 30px;
	padding: 20px 55px 17px;
	background-color: #0a6f37;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	transition: .2s ease-out;
}

.item-btn .enviarButton:hover {
	background: #18342A;
	color: #A9CB35;
	cursor: pointer;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	transition: .2s ease-out;
}

select.no-radius{
	border:none;
	margin-left: 5%;
} 

.select-wrapper {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #FFF;
}

::-webkit-input-placeholder {
	color: #6a6a6a;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
 }
 
 :-moz-placeholder { /* Firefox 18- */
	color: #6a6a6a;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
	color: #6a6a6a;  
 }
 
 :-ms-input-placeholder {  
	color: #6a6a6a;  
 }

/* TRATAMENTO DE ERROS */
.erro-input {
	border: solid #D35552 !important;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
 }

 .erro-input select {
	color: #D35552;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
 }

.erro-input::-webkit-input-placeholder {
	color: #D35552;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
 }
 
.erro-input:-moz-placeholder { /* Firefox 18- */
	color: #D35552;
 }
 
.erro-input::-moz-placeholder {  /* Firefox 19+ */
	color: #D35552;
 }
 
.erro-input:-ms-input-placeholder {  
	color: #D35552;
 }

.divMessage {
	float: left;
	width: 100%;
	height: 0;
	background-color: #18342A;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.message {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #A9CB35;
	margin-top: 13px;
    font-family: 'GloberSemiBold';
}

.openMessage {
	height: 40px;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* REDES SOCIAIS */
.sociais {
	float: left;
	width: 100vw;
	height: 137px;
	background: url(../img/footer-bg.png) center bottom;
	background-attachment: fixed;
    background-repeat: no-repeat;
}

.sociais p {
	color: white;
    text-align: center;
    font-size: 24px;
    margin: 25px 0 10px;
}

.sociais-svg {
	width: 115px;
	height: 50px;
	margin: 0 auto;
}

.sociais-svg-unit {
	float: left;
	width: 50px;
	height: 100%;
}

.sociais-svg-unit:nth-of-type(2) {
	margin-left: 15px;
}

.sociais-svg-unit svg {
	width: 100%;
	height: 100%;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	transition: .3s ease-out;
}

.sociais-svg-unit:hover svg path,
.sociais-svg-unit:hover svg polygon {
	fill: #FFF;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	transition: .3s ease-out;
}

.footer {
	float: left;
	width: 100vw;
	height: 90px;
	line-height: 90px;
	text-align: center;
}

.footer .footer-left {
	float: left;
}

.footer .footer-left img {
	margin-bottom: -12px;
}

.footer .footer-center {
    text-align: center;
    font-style: normal;
}

.footer .footer-right {
	float: right;
	color: #6a6a6a;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.footer .footer-right img {
	margin-left: 5px;
	font-size: 44px;
}
 
@keyframes move {
    0% {-webkit-transform: rotate(0deg)}
    50%{-webkit-transform: translate(0,-30px);}
    100%{-webkit-transform: rotate(0deg)}
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1366px) {
	
}

@media screen and (max-width: 1280px) {
	.center {
		width: 1024px;
	}

	.premium-left {
		width: 400px;
	}

	.premium-right {
		width: 604px;
		height: 339.75px;
		margin-top: 100px;
	}
}

@media screen and (max-width: 1024px) {
	.center {
		width: 768px;
	}

	.home-side-bg img {
		width: 250px;
	}

	.home-side-text .text {
		padding-top: 3.5%;
		font-size: 30px;
	}

	.premium {
		padding: 50px 0;
	}

	.premium-left {
		width: 400px;    
		float: initial;
		margin: 0 auto;
	}

	.premium-right {
		width: 768px;
		height: 432px;
		margin-top: 50px;
	}

	.premium-content-footer {
		margin-top: 30px;
	}

	.footer {
		min-height: 90px;
		line-height: initial;
	}

	.footer .footer-left {
		width: 100%;
		margin: 15px 0;
	}

	.footer .footer-left img {
		margin-bottom: 0;
	}

	.footer .footer-center {
		width: 100%;
		float: left;
	}

	.footer .footer-right {
		width: 100%;
		margin: 25px 0;
	}
}

@media screen and (max-width: 768px) {
	.center {
		width: 500px;
	}

	.home-side-bg img {
		right: 20px;
	}

	.home-side-text .text {
		padding-top: 5%;
		font-size: 26px;
	}

	.home-side-text .text-1 {
		margin-top: 3%;
		margin-bottom: 3%;
	}

	.premium-content {
		margin-top: 30px;
	}

	.premium-right {
		width: 500px;
		height: 281.25px;
	}

	.h2-titleform {
		font-size: 26px;
	}

	.landing-inputs {
		width: 100%;
	}

	.item-input {
		width: 100%;
		margin-bottom: 12px;
	}

	.item-input-right {
		margin-left: 0;
	}
}

@media screen and (max-width: 500px) {
	.center {
		width: 300px;
	}
}